<div class="container">
  <div class="row">
    <div class="card col-md-4 col-md-offset-4">
      <div class="registration_card">
        <div class="card-block">

          <form name="userform" method="post" #formCtrl="ngForm">
            <h3 align="center">Sign-Up</h3>

            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" id="name" placeholder="First name and Last name" [(ngModel)]="user.name"
                required>
            </div>

            <div class="form-group">
              <label for="profileImage">Photo</label>
              <input type='file' (change)="handleFileInput($event.target.files)" id="profileImage" name="profileImage">
            </div>

            <div class="form-group">
              <label for="mail">Email address</label>
              <input type="email" class="form-control" name="mail" id="mail" placeholder="Email" [(ngModel)]="user.mail" required>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" id="password" placeholder="Password" [(ngModel)]="user.password"
                required>
            </div>

            <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" name="city" id="city" placeholder="City e.g Jerusalem" [(ngModel)]="user.city" required>
            </div>
            <div class="form-group">
              <label for="age">Age</label>
              <input type="number" class="form-control" name="age" id="age" placeholder="How old are you?" [(ngModel)]="user.age" required>
            </div>

            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" name="gender" id="gender" [(ngModel)]="user.gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
              </select>
            </div>

            <div class="form-group">
              <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signUpWithMail()" [disabled]="formCtrl.form.invalid">
                Start
              </button>
            </div>



          </form>
          <div *ngIf="response" class="alert alert-danger" [textContent]="response">
            <strong>Note:</strong>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>