<div class="main__body">
    <div class="container">

        <div class="login__page">
            <div class="row">
                <div class="card col-md-4 col-md-offset-4">
                    <div class="login__card">
                        <div class="card-block">

                            <form name="userform" method="post" #formCtrl="ngForm">
                                <h3 align="center">Login</h3>
                                <div class="form-group">
                                    <label for="sign_in_mail">Email address</label>
                                    <input type="email" class="form-control" name="mail" id="sign_in_mail" placeholder="Email" [(ngModel)]="user.email" required>
                                </div>
                                <div class="form-group">
                                    <label for="sign_in_password">Password</label>
                                    <input type="password" class="form-control" name="password" id="sign_in_password" autocomplete="off" placeholder="Password"
                                        [(ngModel)]="user.password" required>
                                </div>

                                <div class="form-group">
                                    <button type="buton" class="btn btn-primary btn-block" style="margin-bottom: 20px" (click)="signInWithEmail()" [disabled]="!formCtrl.form.valid">
                                        Sign In
                                    </button>
                                </div>

                                <div class="form-group">
                                    <button type="buton" class="btn btn-primary btn-block" [routerLink]="['../registration']" style="margin-bottom: 20px">
                                        Sign Up
                                    </button>
                                </div>

                                <div *ngIf="response" class="alert alert-danger" [textContent]="response">
                                    <strong>Note:</strong>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- end card -->

    </div>
    <!-- end container -->