<section class="content-item" id="comments">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <form *ngIf="!filterByUserId" class="bottom_border" #formCtrl="ngForm">
                    <h3 class="">Hi {{userInfo?.name}}, Add a new post</h3>
                    <div class="row">
                        <div *ngIf="userInfo && userInfo.imgPath" class="col-sm-1 col-lg-1 hidden-xs">
                            <a [routerLink]="['/profile', getCurrentUserId()]">

                                <img class="post_profile_image" [src]="userInfo.imgPath" alt="">
                            </a>
                        </div>
                        <div class="form-group col-xs-9 col-sm-9 col-lg-9">
                            <textarea class="form-control" id="content" name="content" [(ngModel)]="newPost.content" placeholder="{{userInfo?.name}} write post"
                                required=""></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" [disabled]="formCtrl.form.invalid" (click)="postMessage(newPost)">Send</button>
                    </div>
                </form>

                <div *ngIf="filterByUserId" class="center">
                    <h3>{{users[filterByUserId]?.name}}'s posts</h3>
                </div>
                <div *ngFor="let key of postKeys.reverse()">
                    <div class="media post_background">
                        <div class="row">
                            <div *ngIf="userInfo && userInfo.imgPath" class="col-sm-1 col-lg-1 hidden-xs">
                                <a [routerLink]="['/profile', posts[key].author_uuid]">
                                    <img class="post_profile_image" [src]="users[posts[key].author_uuid].imgPath" alt="">
                                </a>
                            </div>
                            <div class="form-group col-xs-9 col-sm-9 col-lg-9">
                                <h4 class="media-heading">{{users[posts[key].author_uuid].name}}</h4>
                                <p>{{posts[key].content}}</p>
                                <ul class="list-unstyled list-inline media-detail">
                                    <li>
                                        <i class="fa fa-calendar"></i>{{(posts[key].date) | date:"dd/MM/yyyy 'at' HH:mm"}}</li>

                                    <li>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                        Popularity {{getJsonKeys(users[posts[key].author_uuid].followers).length}}
                                    </li>
                                    <li>
                                        <a class="link" (click)="addApplause(key)">
                                            <i class="fa fa-hand-paper-o"></i>{{getJsonKeys(posts[key].applause).length}} Applause
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div *ngIf="posts[key].comments" class="row">
                            <div class="col-xs-2 col-sm-2 col-lg-2">
                                <h4>Comments</h4>
                            </div>
                        </div>
                        <div *ngFor="let comment of getJsonValues(posts[key].comments)">
                            <div class="row">

                                <div class="col-xs-1 col-sm-1 col-lg-1"></div>
                                <div class="form-group col-xs-10 col-sm-10 col-lg-10 comment_background">
                                    <div class="form-group col-xs-1 col-sm-1 col-lg-1">
                                        <a [routerLink]="['/profile', comment.author_uuid]">
                                            <img class="comment_profile_image" [src]="users[comment.author_uuid].imgPath" alt="">
                                        </a>
                                    </div>
                                    <div class="form-group col-xs-9 col-sm-9 col-lg-9">
                                        <h4 class="media-heading">{{users[comment.author_uuid].name}}</h4>
                                        <p>{{comment.content}}</p>
                                        <ul class="list-unstyled list-inline media-detail">
                                            <li>
                                                <i class="fa fa-calendar"></i>{{comment.date | date:"dd/MM/yyyy 'at' HH:mm"}}
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- REPLAY TEXT AREA-->
                        <form #formCtrl="ngForm">
                            <div class="row">
                                <div class="col-xs-1 col-sm-1 col-lg-1"></div>
                                <div class="comment_background col-xs-10 col-sm-10 col-lg-10">

                                    <div *ngIf="userInfo && userInfo.imgPath" class="form-group col-xs-1 col-sm-1 col-lg-1">
                                        <a [routerLink]="['/profile', getCurrentUserId()]">
                                            <img class="comment_profile_image" [src]="userInfo.imgPath" alt="">
                                        </a>
                                    </div>
                                    <div class="form-group col-xs-9 col-sm-9 col-lg-9">
                                        <textarea class="form-control" id="comment" name="comment" [(ngModel)]="posts[key].comment" placeholder="Add your comment"
                                            required=""></textarea>
                                    </div>
                                    <div class="form-group col-xs-2 col-sm-2 col-lg-2">
                                        <button type="submit" class="btn btn-primary" [disabled]="formCtrl.form.invalid" (click)="postComment(key)">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- COMMENT 1 - END -->

            </div>
        </div>
    </div>
</section>