<div class="container">
  <div class="row">
    <div class="col-xs-offset-5 col-sm-offset-5 col-lg-offset-5">

      <div class="row center">
        <div class="col-xs-4 col-sm-4 col-lg-4">
          <h4 [textContent]="userInfo?.name"></h4>
        </div>
      </div>
      <div class="row center">
        <div class="col-xs-4 col-sm-4 col-lg-4">

          <img class="profile_image" id="profileImage" [src]="userInfo?.imgPath" name="profileImage">
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <label for="mail">Mail</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <p name="mail" [textContent]="userInfo?.mail"></p>
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <label for="city">City</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <p name="city" [textContent]="userInfo?.city"></p>
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <label for="age">Age</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <p name="age" [textContent]="userInfo?.age"></p>
        </div>
      </div>
      <div class="row center">
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <label for="gender">Gender</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <p name="gender" [textContent]="userInfo?.gender"></p>
        </div>
      </div>

      <div class="row center">
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <label for="followers">Followers</label>
        </div>
        <div class="col-xs-2 col-sm-2 col-lg-2">
          <p name="followers" [textContent]="followersCount"></p>
        </div>
      </div>
    </div>
    
  </div>
</div>


<div *ngIf="userUid">
    <app-post></app-post>
</div>
