<nav class="nav-bar navbar-default">
    <div id="navbar" class="navbar-collapse collapse nav_height  navbar-design">
      <ul class="nav navbar-nav">
        <li class="nav_button_height active">
          <a  [routerLink]="['']">Posts</a>
        </li>
        <li class="nav_button_height">
            <a [routerLink]="['/profile', getCurrentUserId()]">
              Profile</a>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right ">
        <li *ngIf="loggedIn" class="nav_button_height ">
          <a href="" (click)="logout()">Logout ({{userInfo ? userInfo.name : ""}}) 
             <img *ngIf="userInfo" class ="nav_profile_image" [src]="userInfo.imgPath"></a>  
        </li>
        <li *ngIf="!loggedIn" class="nav_button_height">
          <a href="" [routerLink]="['../login']">Login/SignUp</a>
        </li>
      </ul>
    
  </div>
</nav>