.nav_profile_image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.nav_button_height > a {
    line-height: 60px;
}

.navbar-design > ul > li > a:hover {
    background-color: #007bff importan;
    color: #ffffff;
    font-weight: 400;
}

.navbar-design > ul > li > a {
    color: #ffffffc2;
}


.navbar-design {
    background-color: #007bff;
}
.active > a {
    background-color: #066edd !important;
    color: #ffffff !important;
    font-weight: 400;
}